<div class="container">
  <div class="lift-container">
    <div class="list-name">
      <h2 style="margin: 0">A</h2>
    </div>
    <img src="./assets\lift-closed.jpg" class="lift-img" />
  </div>
  <div class="arrow-container">
    <div class="arrow">
      <img
        src="https://img.icons8.com/?size=1x&id=I8nm99UN4iUc&format=png"
        class="arrow-img"
        style="rotate: 180deg;"
      />
    </div>
    <div class="arrow" style="margin-top: 16px;">
        <img
          src="https://img.icons8.com/?size=1x&id=I8nm99UN4iUc&format=png"
          class="arrow-img"
        />
      </div>
  </div>
</div>
