.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 23px;
  font-family: sans-serif;
  font-weight: bold;
  padding-bottom: 20px;

}
.search-form {
    display: flex;
    gap: 3px;
    flex-direction: column;
    max-width: 400px;
    padding-top:20px;
    padding-bottom:40px;
    margin: 0 auto;
  }

  
 
  