<form [formGroup]="searchForm" class="search-form">
  <mat-form-field class="example-full-width">
    <mat-label>Search</mat-label>
    <input
      type="text"
      matInput
      placeholder="Enter user Id to view the History"
      formControlName="userId"
    />
    <mat-error *ngIf="userid?.errors?.['required']">
    </mat-error>
  </mat-form-field>
  <button
  mat-raised-button
  color="primary"
  type="submit"
  [disabled]="searchForm.invalid" (click)="searchuserHistory(true)"
>
  Search
</button>

</form>

<div class="container" >

  <mat-card class="card" *ngIf="isSearch">
    <div class="history-container">
        <div class="history-details">
          <p>User ID</p>
          <p>Name</p>
          <p>Weight</p>
          <p>From</p>
          <p>To</p>
          <p>Date and Time</p>
          <p>Status</p>
        </div>
    </div>
</mat-card>
  <ng-container *ngFor="let dt of searchHistory ">
   
    <app-history-card  [userhistory]="dt" [username]="userName"> </app-history-card>
  
  </ng-container>

</div>

