.invalid {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 200px;
  height: 150px;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 4px 2px rgba(0.3, 0.3, 0.3, 0.3);
}
.error-list {
  padding-top: 80px;
}
.close {
  width: 30px;
  height: 30px;
  border-radius: 70%;
  color: aliceblue;
  background-color: rgb(226, 58, 58);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  /* transform: translate(50%, -1%); */
}
.content {
  top: 0%;
  right: 0%;
  transform: translate(250%, -150%);
}
.text {
  text-align: right;
  transform: translate(-10%, -250%);
}
.error {
  top: 0%;
  right: 0%;
  transform: translate(3650%, 10%);
}
.cross-icon {
  color: white;
  font-size: large;
  justify-content: center;
  transform: translate(25%, -1%);
}
.small {
  text-align: center;
  transform: translate(0%, -50%);
}
