<div
  class="floor-container"
  *ngIf="!showLogin && !showButtons && !showInvalidUser"
>
  <ng-container *ngFor="let i of floors">
    <app-floor
      [floornum]="i.floorNum"
      [lastFloor]="floors[0].floorNum"
      (showLogin)="enableLoginScreen($event)"
      [openDoor]="openDoor"
      [floor]="toFloor"
      (fromFloor)="updateFromFloor($event)"
      [reachedDestination]="reachedDestination"
      (updateFloor)="updateFloor($event)"
    ></app-floor>
  </ng-container>
</div>
<ng-container *ngIf="showButtons">
  <app-forms
    (numberPressed)="numberClicked($event)"
    (openLift)="openLift()"
    (closeLift)="closeLift()"
  ></app-forms>
</ng-container>
<ng-container *ngIf="showLogin">
  <app-user-detail
    (toggleVerification)="toggleScreenLogin($event)"
    (closeLogin)="closeLogin()"
    (showInvalidPopup)="toggleInvalidPopup()"
  ></app-user-detail>
</ng-container>
<ng-container *ngIf="showInvalidUser">
  <app-invalid-box (closeInvalidPopup)="closeInvalidPopup()"></app-invalid-box>
</ng-container>
<!-- <app-weight-limit-exceeded-popup *ngIf="showCapacityExceededPopup"></app-weight-limit-exceeded-popup> -->
