.forms {
  display: flex;
  flex-direction: row;
  gap: 24px;
  max-width: 500px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 4px 2px rgba(0.3, 0.3, 0.3, 0.3);
  padding: 24px;
}
.ButtonFunctions {
  display: flex;
  flex-direction: row;
  gap: 3px;
}
.OpenCloseButton {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.floorNumbers {
  display: flex;
  flex-direction: row;
  gap: 24px;
  max-width: 500px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.button {
  border-radius: 50%;
}
