.user
{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 300px;
    height: 250px;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 4px 2px rgba(0.3, 0.3, 0.3, 0.3);
}

.custom-button {
    color: white;
  }

  .custom-input {
    font-size: 6px;
  }
  .close {
    width: 30px;
    height: 30px;
    padding-top: 0px;
    border-radius: 50%;
   
    background-color:rgb(226, 58, 58);
    display: flex;
    align-items: center;
  justify-content: center;
   cursor: pointer;
   transform: translate(40%, 0%);
   }
  
  .cross-icon {
    color: #fff;
    font-size: 19px;
    transform: translate(25%, -3%);
  }
.submit-button{
  display:flex;
  align-items: center;
  margin: auto;
}
  
  .content{
    top:0%;
    right: 0%;
    transform: translate(400%, -80%);
  }

  .add-user{

    display: flex;

    gap: 10px;

    flex-direction: column;

    max-width: 400px;

    margin: 0 auto;

  }

  .newuser
  {
    display:flex;
    align-items: center;
    margin: auto;
  }

  
  