<form  class="user" [formGroup]="nameForm" (ngSubmit)="onsubmit()">

   <div class="content">
    
    <div class="close" >
        <mat-icon class="cross-icon"> close</mat-icon>
            
       </div> </div> 
    <mat-form-field class="example-full-width" class="custom-form-field">
  
    <mat-label>Enter the user Id</mat-label>
    <input matInput placeholder="userID" type="text" class="custom-input"formControlName="userid" required>
    <mat-error *ngIf="userid?.errors?.['required']">
      This field is required,please fill it!
    </mat-error>
  </mat-form-field>
<br>
 <button mat-raised-button color="primary"  [disabled]="nameForm.invalid" >Submit</button>
 <p style="color:blue;font-size: small;">New User?</p>


</form>
   
