.add-reg-form {
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }

  .card{
    align-items: center;
    justify-content: center;
    width: 400px;
    position: relative;
    height: 400px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 0px #9b9b9b,
    0 1px 1px 0 #9b9b9b,
    0 1px 3px 0 #9b9b9b;

  }
  .card-content{
    padding: 30px;
    font-size: larger;
    font-weight: 500;
  }